@charset "UTF-8";
html, body{
	margin: 0;
	min-height: 100%;
	color: white;
}
.container{
	margin-top: 50px;
	padding: 50px;
	border-radius: 20px;
	background-image: linear-gradient(to bottom right,/*#CCFFFF, lightblue, #FFFFFF*/ blue, lightblue);
	background-size: 400% 400%;
	
	animation: gradientAnimation 10s ease infinite;
	box-shadow: 1px 1px 30px #000099;	
	transition: 0.5s;
}
.container:hover{
	box-shadow: 1px 1px 50px #000099;
	transition: 0.5s;
}
body{
	background-image: linear-gradient(to bottom right,/*#CCFFFF, lightblue, #FFFFFF*/ blue, lightblue);
	background-size: 400% 400%;
	
	animation: gradientAnimation 10s ease infinite;
	
	height: 100vh;
	width: 100%;
}
@keyframes gradientAnimation {
  0%{
  	background-position: 0% 50%;
  }
  50%{
  	background-position: 100% 50%;
  }
  100%{
  	background-position: 0% 50%;
  }
}
.eintrag{
	font-weight: normal;
}
.titel{
	text-decoration: underline;
	text-decoration-thickness: 2px;
}
.inhaltZentriert{
	display: flex;
	justify-content: center;
}
.col-12{
	text-align: center;
}
.center{
	text-align: center;
}
h3{
	font-size: 150%;
}
table{
	text-align: center;
	width: 100%;
}
.button{
	color: white;
	background-color: #566cf2;
	border-radius: 3px;
	border: 2px solid black;
	scale: 1;
	transition: 0.5s
}
.button:hover{
	scale: 1.05;
	transition: 0.5s;
	background-color: blue;
}
input{
	background-color: #566cf2;
	color: white;
	border-radius: 5px;
	border: 2px solid black;
	scale: 1;
	transition: 0.5s;
}
input:hover{
	scale: 1.05;
	transition: 0.5s;
	background-color: blue;
}
input:focus{
	scale: 1.05;
	transition: 0.5s;
	background-color: blue;
}
input[type="reset"]{
	scale: 1;
	transition: 0.5s;
	background-color: #566cf2;
}
.anzeigen{
	overflow-wrap: anywhere;
}
.tabelle{
	border: 1px solid black;
	display: flex;
	align-items: center;
	padding-top: 5px;
}
#personErstellen{
	margin-top: 10px;
}
